@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.title-pet-cards {
    align-items: center;
    background-color: #F2F1EB;
    border-radius: 5px;
    color: #5A3938;
    height: 45px;
    margin: 5px 25px 10px 0;
    text-align: center;
    width: 530px;
}

.title-pet-cards h2 {
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width: 1020px) {
    .title-pet-cards {
        width: 410px;
    }
} 