.button{
    color: #F2F1EB;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    padding: 20px;
    cursor: pointer;
    margin: 32px 10px;
    display: flex;
    justify-content: center;
}
