@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.overlay {
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.modal-container {
  background-color: #f2f1eb;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
}

.informations-container {
  margin: 10px;
  color: #5a3938;
  font-weight: 600;
  font-size: 17.3px;
}

.modal-button {
  width: 100%;
  cursor: pointer;
  height: 3rem;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  font-weight: 500;
  border: none;
}

.modal-button-card {
  display: none;
}

.modal-image {
  width: 100%;
  max-height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 auto;
  padding-bottom: 5px;
}

.modal-text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.additional-informations {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
  gap: 10px;
}

.modal-description {
  font-size: 20px;
}

.modal-additional-text {
  display: grid;
  gap: 10px;
}

@media (min-width: 576px) {
  .modal {
    width: 36rem;
    height: auto;
  }

  .modal-container {
    width: 100%;
  }

  .modal-image {
    width: 300px;
    height: auto;
    margin: 10px;
  }
  .modal-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 0 10px 10px 10px;
  }

  .informations-container {
    margin: 0;
  }

  .card-informations {
    float: left;
    margin-right: 10px;
  }
  .additional-informations {
    margin: 10px;
  }

  .modal-button {
    display: none;
  }

  .modal-button-card {
    display: block;
    width: 100%;
    cursor: pointer;
    height: 3rem;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    font-weight: 500;
    border-radius: 0px 5px 0px 0px;
    border: none;
  }
}

@media (min-width: 768px) {
  .modal {
    width: 46rem;
    height: auto;
  }

  .modal-button {
    display: none;
  }

  .modal-container {
    width: 100%;
  }

  .modal-image {
    width: 300px;
    height: 300px;
  }

  .modal-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .modal-additional-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card-informations {
    float: left;
    margin-right: 10px;
  }

  .modal-additional-text {
    margin-top: auto;
  }
}
@media (min-width: 992px) {
  .modal {
    width: 56rem;
    height: auto;
  }

  .modal-container {
    width: 100%;
  }

  .modal-image {
    width: 300px;
    height: 300px;
  }
  .modal-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .card-informations {
    float: left;
    margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 56rem;
    height: auto;
  }

  .modal-container {
    width: 100%;
  }

  .modal-image {
    width: 300px;
    height: 300px;
  }
  .modal-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .card-informations {
    float: left;
    margin-right: 10px;
  }
}
