@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.overlay {
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  outline: none;
  border-radius: 5px;
  background-color: #f2f1eb;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  font-family: "Quicksand", sans-serif;
}

.informations-container {
  margin: 10px;
  color: #5a3938;
  font-weight: 600;
  font-size: 17.3px;
}

.modal-button {
  width: 100%;
  cursor: pointer;
  height: 3rem;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  font-weight: 500;
  border: none;
}

.modal-button-card {
  display: none;
}

.modal-image {
  width: 100%;
  max-height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 auto;
  padding-bottom: 5px;
}

.modal-text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.modal-description {
  margin: 30px 0;
}

.modal-aditional-text {
  margin-top: auto;
  display: grid;
  gap: 10px;
}

@media (min-width: 576px) {
  .modal{
    flex-direction: row;
    overflow-y: hidden;
  }

  .card-informations {
    float: left;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 270px;
    gap: 10px;
  }

  .modal-image {
    width: auto;
    height: 300px;
    margin: 10px;
  }

  .aditional-informations {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
  }
  .modal-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 0 10px 0 10px;
  }

  .informations-container {
    margin: 0;
    max-height: 500px;
  }

  .modal-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding-top: 10px;
  }

  .modal-aditional-text {
    margin-bottom: 10px;
  }

  .modal-button {
    display: none;
  }

  .modal-button-card {
    display: block;
    width: 100%;
    cursor: pointer;
    height: 3rem;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    font-weight: 500;
    border-radius: 0px 5px 0px 0px;
    border: none;
  }
}

@media (min-width: 768px) {
  .modal {
    overflow-y: hidden;
    width: 80%;
  }

  .card-informations {
    height: auto;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
  }

  .modal-image {
    width: auto;
    height: 300px;
    margin: 10px;
  }

 
  .informations-container {
    margin: 0;
    max-height: 500px;
  }

  


  .modal-button {
    display: none;
  }

  .modal-button-card {
    display: block;
    width: 100%;
    cursor: pointer;
    height: 3rem;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    font-size: 22px;
    font-weight: 500;
    border-radius: 0px 5px 0px 0px;
    border: none;
  }
}
@media (min-width: 992px) {

  .modal {
    width: 70%;
  }

  
}
@media (min-width: 1200px) {
  .modal {
    width: 60%;
  }
}
