.bg-login {
  background-color: #516953;
}

.login-screen {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.bg-cover {
  display: none;
  background-size: cover;
}

.form-wrapper {
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  max-width: 28rem;
}

@media (min-width: 1024px) {
  .bg-cover {
    display: block;
    width: 66.666667%;
  }
  .form-wrapper {
    width: 33.333333%;
  }
}
