.register-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    align-items: center;
}
.register {
    padding:10px;
}
.footer-register {
    width: 100vw;
}
