
.profile-screen {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}

.profile {
    background-color: #A5C282;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    display: flex;
    height: 100%;
    
}


.pets-cards {
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    flex-direction: column;
    flex: 1;
}


@media screen and (max-width: 620px) {
    .profile-screen {
        height: 100%;
    }

    
    .profile {
        flex-direction: column;
    }

    .pets-cards {
        flex-direction: column;       
        
    }
}