.filter-container {
  background-color: #516953;
  font-family: "Quicksand", sans-serif;
}

.filter-box {
  background-color: white;
  background-color: transparent;
  display: flex;
  width: 100%;
}
